# 个人.editorconfig配置
# author fengwk
# https://editorconfig.org/

# 该标志声明当前配置文件已经是根部，相应的配置解析框架应该停止向上扫描
root = true

[*]
charset = utf-8
end_of_line = lf
# 避免文件自动修改最后一行导致nvim无法直接退出
#insert_final_newline = false

[*.{java,groovy,xml}]
indent_style = space
indent_size = 4

[*.yml]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab

# 参考 gofmt 工具
[*.go]
indent_style = tab

[*.{h,c,cpp}]
indent_style = space
indent_size = 4

# E111 indentation is a multiple of 4
[*.py]
indent_style = space
indent_size = 4

# 参考 Google Shell 风格指南
# https://google-styleguide.readthedocs.io/zh_CN/latest/google-shell-styleguide/formatting.html
[*.{sh,bash,zsh}]
indent_style = space
indent_size = 2

[*.{js,json,html,css,less,sass,ts,vue,jsx}]
indent_style = space
indent_size = 4

# lua
[*.lua]
indent_style = space
indent_size = 2